.App {
  text-align: center;
}

.start {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  color: white;
  background-color: green;
  margin: 20px;
}
.start:disabled{
  background-color: white;
}

.stop {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  color: white;
  background-color: red;
  margin: 20px;
}

.reset {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  color: white;
  background-color: orange;
  margin: 20px;
}